/* header style section */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* banner style start */
.banner-container {
    width: 1320px;
    /* border: 2px solid red; */
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
}
.banner-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    align-items: center;
}

.banner-content p{
    font-size: 32px;
    font-weight: 400px;
    margin-bottom: 16px;
    color: white;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900px;
    text-align: center;
    color: white; 
}
/* 65% off start section */
#banner-container2{
    width: 802.9px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 120px;
}
#banner-content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ;
}
#banner-content2 h1{
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    color: rgb(255,0,0);
    margin-bottom: 48px;
}
#banner-content2 p{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 0, 0);
    margin-bottom: 16px;
}
#banner-content2 h2{
    font-size: 48px;
    font-weight: 700px;
    text-align: center;
    color: rgb(7, 2, 17);
    margin-bottom: 48px;
}
#banner-content2 img{
    width: 802.9px;
    height: 500px;
}
/* 65% off end section */
/* welcome mightnight party start section */
#banner-container3{
    width: 1320px;
    height: 600px;
    /* border: 2px solid red; */
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    margin: 0 auto;
    margin-top: 120px;
}
#banner-content3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}
#banner-content3 .welcome{
    color: rgb(255, 255, 255);
    /* border: 1px solid white; */

}
#banner-content3 .welcome h1{
    font-size: 64px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
    text-align: left;
    margin-left: 126px;
}
#banner-content3 .welcome p{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 48px;
    margin-left: 126px;
}
#banner-content3 .welcome a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 158px;
}
#banner-content3 .number img{
    width: 349.16px;
    height: 464.65px;
    /* border: 1px solid white; */
    margin-right: 108px;
}
/* welcome mightnight party end section */
/* new park hotel start*/
#banner-container4{
    width: 1320px;
    height: 482px;
    /* border: 5px solid red; */
    margin: 0 auto;
    margin-top: 120px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);;
}
#banner-content4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 482px;
}
#banner-content4 p{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 48px;
    color: ;
}
#banner-content4 button{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 16px 32px 16px 32px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: red;
    border: none;
    border-radius: 5px;
}
#banner-content4 p #place{
    color: red;
}
#banner-content4 p #date{
    color: red;
}
#banner-content4 p #time{
    color: red;
}
/* new park hotel end*/
/* new best offer start*/
.banner-container5{
    width: 1320px;
    height: 463px;
    border: 5px solid red;
    margin-top: 120px;
    margin: 0 auto;
}
.banner-content5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 463px;
    padding: 0px;
}
.banner-content5 .new{
    margin-right: 70px;
}
.banner-content5 .new h1{
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: left;
    color: rgb(255, 0, 0);
    margin-bottom: 16px;
}
.banner-content5 .new h2{
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    color: rgb(7, 2, 17);
    text-transform: capitalize;
}
.banner-content5 .new p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: left;
    color: rgba(7, 2, 17, 0.6);
    width: 393px;
    height: 128px;
    /* margin-right: 119.08px; */
    margin-top: 22px;
}
.banner-content5 .img{
    /* width: 200px;
    height: 200px; */

}
.banner-content5 .image{
    /* width: 463px;
    height: 463px; */
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-right: 118px;
}
.amet .dolor .happy{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 140px;
    text-align: left;
}
.banner-content5 .amet .dolor h2{
    font-size: 48px;
    font-weight: 700;
    color: rgb(255, 0, 0);
    margin-bottom: 16px;
}
.banner-content5 .amet .dolor p{
    font-size: 20px;
    font-weight: 400;
    text-align: ;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 43px;
}
.banner-content5 .happy img{

}
/* new best offer end*/